// Black
$color-black: #000000;
$color-black-transparentLow: #000000ce;
$color-black-transparentMid: #0000009a;
$color-black-transparentHigh: #00000034;


//White
$color-white: #ffffff;
$color-white-transparentLow: #ffffffda;
$color-white-transparentMid: #ffffff9c;
$color-white-transparentHigh: #ffffff36;



// RGB
$color-green: #00af0f;
$color-red: #ff00008f;
$color-blue: #000cb3;


// Pallete
$color-purple: #7000b1;
$color-orange: #b15e00;
$color-yellow: #dee200;
$color-aqua: #02c0b7;
$color-dark: #292d31;
$color-purple:#41005f;
$color-purple-light:#6a009b;
$color--cyan-bluish-gray: #abb8c3;
$color--pale-pink: #f78da7;
$color--vivid-red: #cf2e2e;
$color-luminous-vivid-orange: #ff6900;
$color--luminous-vivid-amber: #fcb900;
$color--light-green-cyan: #7bdcb5;
$color--vivid-green-cyan: #00d084;
$color--pale-cyan-blue: #8ed1fc;
$color--vivid-cyan-blue: #0693e3;
$color--vivid-purple: #9b51e0;