
%button-default{
    
    height: 40px;
    width: 130px;
    
    margin: 0 10px;
    border-radius: 5px;

   

    @include font(20px,$color-white,normal);

    @include flex-center(center,center,row);
    
    @include button($color-black, $color--vivid-cyan-blue);
    
     transition: all .5s ease-in-out;
    &:hover{
        @include button($color--vivid-cyan-blue, $color-white);
        @include font(20px,$color-black,bold);
        
    }

}

@media only screen and (max-width:850px) {
    %button-default{
        margin: 0;
    }
}






