.footer{
    @include box-reset(0,0);
    @include flex-center(center,center,column);
    @include default-content-settings;
    
    background-color: $color-white-transparentHigh;
}
.footer-navigation{
    padding: 20px;
    
    .social-professional{
        @include flex-center(flex-end,center,row);
    }

    


    .social-link{
        @extend %text-reset;
        
    }
    .fa-brands{
        @include font(30px, $color--pale-cyan-blue,normal);
        padding: 0;
        margin: 0 10px;
        transition: scale 0.3s ease-in-out;

        &:hover{
            scale: 1.3;
            
        }
        
        
    }


}

@media only screen and (max-width:800px) {
    .footer-navigation{
    
    
        .social-professional,.social-private{
            @include flex-center(center,center,row);
            margin: 10px;
        }
    }    
}






.legal-wrapper{
    @include default-content-settings;
    .legal-link{
        

        .legal{
            
            @extend %default-distance;
        }
    }
}