.navbar{
    position: relative;
    padding: 20px;
    z-index: 500;
    background-color: $color-white-transparentHigh;
    width: 100%;
    .navbar-toggler{
        background-color: $color--vivid-cyan-blue;
    }
    .navbar-nav{
        @include flex-center(center,center,row);
        .list{
            @extend %distance-reset;
        }
    }

    .link{
        @extend %button-default;
    }

    .logo-img{
        width: 100px;
        border-radius: 50%;
        background-color: black;
    }
}


@media only screen and (max-width:800px) {
    .navbar{
        
        .navbar-nav{
            @include flex-center(center,center,column);
            .nav-item{
                width: 100%;
            }
            .link{
                width: 100%;
                
            }
        }   
    }
    
}