.contact-wrapper{
    @include wrapper(relative,hidden,100vh);
    @include flex-center(space-between,center,column);

    &::before{
        @include pseudo(100%, 100%, $color-black,0.7); // height, width
        z-index: 1;
    }    
}


.contact{
    color: $color-white;
    position: relative;
    z-index: 5;
    .contact-content{
        margin: auto;


        .form{
            @include box-shadow;
            border-radius: 25px;
            background-color: $color-black-transparentMid;
            padding: 50px;
            max-width: 600px;
            margin: auto;
        }
    }
}